<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rewrite googlebot url to a snippet unless an asset" stopProcessing="true">
                    <match url="^(.+)/$" ignoreCase="false"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="_escaped_fragment_" ignoreCase="false"/>
                        <add input="{URL}" pattern="^(dist|img|snippets)" ignoreCase="false" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="snippets/{R:1}.html"/>
                </rule>
                <rule name="rewrite googlebot url of a nested page to a snippet unless an asset" stopProcessing="true">
                    <match url="^([.a-zA-Z0-9-_/]+)$" ignoreCase="false"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="_escaped_fragment_" ignoreCase="false"/>
                        <add input="{URL}" pattern="^(dist|img|snippets)" ignoreCase="false" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="snippets/{R:1}.html"/>
                </rule>
                <rule name="rewrite googlebot url of home to a snippet unless an asset" stopProcessing="true">
                    <match url="^" ignoreCase="false"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="_escaped_fragment_" ignoreCase="false"/>
                        <add input="{URL}" pattern="^(dist|img|snippets)" ignoreCase="false" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="snippets/1.html"/>
                </rule>
                <rule name="rewrite all home requests with or without trailing slash to index.html" stopProcessing="true">
                    <match url="^/?$" ignoreCase="false"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^(dist|img|snippets)" ignoreCase="false" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="index.html" appendQueryString="true"/>
                </rule>
                <rule name="rewrite all asset urls relative to pages to actual asset urls" stopProcessing="true">
                    <match url="^.+(dist|img|snippets)(/(.*))?" ignoreCase="false"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^(dist|img|snippets)" ignoreCase="false" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="{R:1}{R:2}" appendQueryString="true"/>
                </rule>
                <rule name="rewrite all page urls to index.html" stopProcessing="true">
                    <match url="^[.a-zA-Z0-9-_]+(/(.*))?" ignoreCase="false"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^(dist|img|snippets)" ignoreCase="false" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="index.html" appendQueryString="true"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
